body {padding:0;margin:0;}

#card-table {
  background-color:#1f3d0c;
  display:flex;
  flex-wrap: wrap;
  height:100vh;
}
#card-table .card {
  margin:50px;
  background:#fff;
  height: 250px;
  width: 175px;
  border: 1px solid #000;
  position: relative;
  border-radius: 5px;
}
#card-table .card #top-left {
  display:block;
  margin-left: 5px;
  margin-top: 5px;
}
#card-table .card #center {
  display:flex;
  width:100%;
  height:65px;
  align-items:center;
  justify-content:center;
}
#card-table .card #center #center-suit {
  font-size:75px;
  color: #ff0000;
}
#card-table .card #bottom-right {
  display:flex;
  justify-content:right;
}
#card-table .card #bottom-right .bottom-right-container {
  transform: rotate(180deg);
  height:100%;
  margin:0 5px 5px 0;
}
.number {
  margin:0;
  font-size: 45px;
  color: #ff0000; 
  line-height: 45px;
}
.suit {
  font-size: 45px;
  color: #ff0000; 
  line-height: 45px;
  margin:0;
}
