body {
  padding:0;
  margin:0;
  height:200vh;
}
h1 {
  text-align:center;
}
.img {
  margin-left: 40px;
  width:55%;
}
#card-table {
  background-color:#1f3d0c;
  display:flex;
  flex-wrap: wrap;
  height:100%;
  padding:25px 50px;
}
#card {
  height:300px;
  width:215px;
  background:white;
  border-radius:5px;
  padding:4px 4px;
}
#suit-list {
  border:2px solid gold;
}
.suit {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}
.red {
  color: #ff0000;
}
.black {
  color: #000;
}
