.text {color: red;text-decoration: underline;}
h2 {text-decoration: underline;}
button {padding: 15px 30px;}
#show-me-btns-btn {background: #ff0000;color: white;border: none;border-radius: 5px;cursor: pointer;}
#show-me-btns-btn:hover {opacity: 0.7;}