section {
  width: 1495px;
}
h1 {
  font-size: 37px;
}
ul {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
ul li {
  padding: 5px;
  font-size: 16px;
}
ul .main-li {
  border-bottom: 1px solid #000;
  font-size: 35px;
}
ul .main-li:nth-child(odd) {
  background: #efefef;
}