section {border: 5px solid brown;padding: 5px;}
div {border: 5px solid blue;padding: 5px;}

/* This was inspired by www.youtube.com/ldskjfsdofghfgods */
p {font-family: 'Roboto Condensed', sans-serif;}